version: "3.9"
services:
  postgres:
    build:
      context: .
      dockerfile: database/Dockerfile
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    networks:
      - nodejs2021q4_net
    restart: unless-stopped
    volumes:
      - nodejs2021q4_postgres:/var/lib/postgresql/data

  app:
    build: .
    networks:
      - nodejs2021q4_net
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - postgres
    restart: unless-stopped
    volumes:
      - "./src:/app/src"
      - nodejs2021q4_logs:/app/logs

volumes:
  nodejs2021q4_postgres:
  nodejs2021q4_logs:


networks:
  nodejs2021q4_net:
    ipam:
      config:
        - subnet: 172.16.0.0/24
          gateway: 172.16.0.1
